body{
    background-color: #EF6000;
}
footer {
    background-color: #EF6000;
    text-align: center;
    padding: 10px ;
    margin: auto;
    width: 90%;
    height: 150px;
    line-height: 190px;
}
a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}
