body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 900px;
    background-color: #E5F9F9;
}
.kar{
    height: 300px;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 300px;
}
.karp{
    display: flex;
}
.kars{
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.kars img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
} 
.kars h2 {
    font-size: 40px;
    margin: 10px 0;
    color: #333;
}
button {
    position: absolute;
    top: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
} 
button:hover {
    background-color: black;
}
.po {
    margin-top: -70px;
    left: 10px;
}
  
.na{
    margin-top: -70px;
    right: 10px;
}
footer{
    background-color: #048ABF;
    text-align: center;
    position: fixed;
    width: 100%;
    line-height: 100px;
    height: 100px;
    bottom: 0;
}
a{
    text-decoration: none;
    font-family: italic;
    font-size: 40px;
    color: black
}
