body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0;
    background-color: #f0f8ff;
}
.kar{
    position: relative;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
.kart {
    overflow: hidden;
}
.karp{
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.kars{
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.kars img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
} 
.kars h2 {
    font-size: 40px;
    margin: 10px 0;
    color: #333;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 50%;
} 
button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.po {
    left: 10px;
}
  
.na{
    right: 10px;
}
footer{
    background-color: #048ABF;
    color: #F2F2F2;
    text-align: center;
    position: fixed;
    width: 100%;
    line-height: 200px;
    height: 100px;
}
a{
    text-decoration: none;
    font-family: italic;
    font-size: 30px;
    color: #0D0D0D;
}
