body{
    background-color: #EF6000;
}
footer {
    background-color: #EF6000;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 180px;
    line-height: 180px;
}
a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
